// ID identifying the cluster to create. Use your username so that resources created can be tracked back to you.
cluster_id = "upi"

// Domain of the cluster. This should be "${cluster_id}.${base_domain}".
cluster_domain = "upi.e2e.bos.redhat.com"

// Base domain from which the cluster domain is a subdomain.
base_domain = "e2e.bos.redhat.com"

// Name of the vSphere server. The dev cluster is on "vcsa.vmware.devcluster.openshift.com".
vsphere_server = "e2e-vcsa67.vcenter.e2e.bos.redhat.com"

// User on the vSphere server.
vsphere_user = "administrator@e2e.local"

// Password of the user on the vSphere server.
vsphere_password = "100Root-"

// Name of the vSphere cluster. The dev cluster is "devel".
vsphere_cluster = "e2e"

// Name of the vSphere data center. The dev cluster is "dc1".
vsphere_datacenter = "Boston"

// Name of the vSphere data store to use for the VMs. The dev cluster uses "nvme-ds1".
vsphere_datastore = "ose3-vmware"

// Name of the VM template to clone to create VMs for the cluster. The dev cluster has a template named "rhcos-latest".
vm_template = "rhcos-4.2.0-x86_64-vmware"

// The machine_cidr where IP addresses will be assigned for cluster nodes.
// Additionally, IPAM will assign IPs based on the network ID.
machine_cidr = "10.19.114.0/23"

// Path to the bootstrap ignition file
bootstrap_ignition_path = "${path.module}/bootstrap.ign"

// Path to the master/control plane ignition file
control_plane_ignition_path = "${path.module}/master.ign"

// Path to the compute/worker ignition file
compute_ignition_path = "${path.module}/compute.ign"

// The number of control plane VMs to create. Default is 3.
control_plane_count = 3

// The number of compute VMs to create. Default is 3.
compute_count = 3

// Set ipam and ipam_token if you want to use the IPAM server to reserve IP
// addresses for the VMs.

// Address or hostname of the IPAM server from which to reserve IP addresses for the cluster machines.
// ipam = "139.178.89.254"

// Token to use to authenticate with the IPAM server.
// ipam_token = "TOKEN_FOR_THE_IPAM_SERVER"

// Set bootstrap_ip, control_plane_ip, and compute_ip if you want to use static
// IPs reserved someone else, rather than the IPAM server.

// The IP address to assign to the bootstrap VM.
bootstrap_ip = "10.19.114.241"

// The IP addresses to assign to the control plane VMs. The length of this list
// must match the value of control_plane_count.
control_plane_ips = ["10.19.114.242", "10.19.114.243", "10.19.114.244"]

// The IP addresses to assign to the compute VMs. The length of this list must
// match the value of compute_count.
compute_ips = ["10.19.114.245", "10.19.114.246", "10.19.114.247"]
